# Data and model results
data/
runs/
!runs/detect/train_yolo11s/weights/best.pt
app/img/
*.csv
*.xlsx

# Model files (PyTorch, TensorFlow, Scikit-learn)
*.pt
*.pth

# Logs and temporary files
*.log
*.tmp

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment and environment files
venv/
.venv/
.env

# IDE and system files
.vscode/
.idea/
.DS_Store

# Configuration files (optional)
dataset.yaml
config.yaml

# Old or test code
app_staro/
app_original.py
