# Ignoriranje dataset-a
data

# Ignoriranje rezultata treninga
runs

# Ignoriranje modela (PyTorch težine)
*.pt

# Ignoriranje privremenih datoteka
*.log
*.tmp

# Ignoriranje Python cache-a
__pycache__/
*.pyc
*.pyo

# Ignoriranje virtualnog okruženja (ako ga koristite)
venv/
.env

# Opcionalno: Ako ne želite pratiti konfiguracijske datoteke
dataset.yaml

# Ignoriranje specifičnih datoteka/mapa
app_staro
